<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">First Circle Inventory Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Clearance batches", clearance_batches_path %></li>
    </ul>
  </div>
</nav>